body{
    background-color: #36803f;
}

.container{
    background-color:#4bb456;
    border-radius: 12px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
}

.container_titolo{
    background-color: #2e6d35;
    border-radius: 5px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content:space-between;
    padding: 10px;
}

.container_bottoni{
    display: flex;
    justify-content: end;
    margin-left: 10px;
    width: 100%;
    height: 100%;
}

.inserisci{
    border: 3px solid #419a4a;
}

.inserisci:hover{
    background-color: #224f27;
    cursor: pointer;
}

.login{
    border: 3px solid #419a4a;
}

.login:hover{
    background-color: #224f27;
    cursor: pointer;
}

.titolo{
    width: 100%;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 40px;
}
.map{
    width: 90%;
    margin: 0 auto;
    border: 10px solid #4bb456;
    border-radius: 30px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
}

.modale_login {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
  }

.container_modale_login{
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    display: block;
}

.username,.password{
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.submit_login{
    margin-top: 20px;
    width:100%;
    background-color: #419a4a;
    border-radius: 8px;
    border: none;
}

.submit_login:hover{
    background-color: #224f27;
    cursor: pointer;
}

.visible {
    display: block;
  }
  
  .hidden {
    display: none;
  }

  .tabella{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 700px;
  }